.step_4 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.main_row {
  background-color: var(--magnolia);
  padding: 2.4rem;
  border-radius: 8px;
}

.top_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}
.top_row .price,
.top_row .title {
  color: var(--marine-blue);
  font-size: 1.6rem;
}

.bottom_row {
  padding: 2.4rem;
  border-top: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.row_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row_item .title {
  color: var(--cool-gray);
  font-weight: 500;
}
.row_item .price {
  color: var(--marine-blue);
  font-size: 1.4rem;
}

.total_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}

.total_row .title {
  color: var(--cool-grey);
  font-size: 1.8rem;
}

.total {
  color: var(--purplish-blue);
  font-size: 1.8rem;
  font-weight: 700;
}
