.form_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.input_top {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
}
.form_input {
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  color: var(--marin-blue);
  font-weight: 500;
  transition: border-color 0.5s;
}
.form_input:focus::placeholder {
  color: transparent;
}

.form_input::placeholder {
  color: var(--cool-gray);
}

.error_message {
  font-size: 1.2rem;
  color: var(--strawberry-red);
}
.error_message::first-letter {
  text-transform: uppercase;
}

.error {
  border-color: var(--strawberry-red);
}
@media (max-width: 576px) {
  .input_top {
    flex-direction: column;
  }
}
