.label_item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 2.4rem;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.active {
  border-color: var(--purplish-blue);
  background-color: var(--alabaster);
}
.label_item:hover {
  border-color: var(--purplish-blue);
  transform: scale(1.01);
  transition: all 0.3s;
}
.input_body {
  flex: 1;
}
.title {
  font-weight: 500;
  margin-bottom: 4px;
}
.subtitle {
  font-size: 1.4rem;
  color: var(--cool-gray);
}
.price {
  color: var(--purplish-blue);
  font-weight: 500;
}

.error {
  border-color: red;
}
