.step_title {
  font-size: 3.6rem;
  font-weight: 700;
}
.step_subtitle {
  color: var(--cool-gray);
}
@media (max-width: 576px) {
  .step_title {
    font-size: 3rem;
  }
  .step_subtitle {
    font-size: 1.4rem;
  }
}
